<h2><%= @product.name %></h2>
<p><%= @product.price %></p>
<p><%= @product.description %></p>


<%= link_to "Delete",
  product_path(@product),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @product.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %>
      <%= link_to "Delete",
          review_path(review),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
<br>

